## for  a frontend developer to setup in windows 
pip install django    
pip install djangorestframework  
pip install django-cors-headers  
pip install Pillow 
python -m venv django_env 
.\django_env\Scripts\Activate.ps1
 python manage.py runserver


## For all installation in  a one command

python3 -m venv env
source env/bin/activate
pip install --upgrade pip
pip install django djangorestframework django-cors-headers Pillow


 // For migration and run

source django_env/bin/activate
python3 manage.py makemigrations
python3 manage.py migrate
python3 manage.py runserver


// For delete database, migration and run

source django_env/bin/activate
rm db.sqlite3
python3 manage.py makemigrations
python3 manage.py migrate
python3 manage.py createsuperuser
python3 manage.py runserver

## For env and run

source django_env/bin/activate
python3 manage.py runserver

## For specific Migration

python3 manage.py makemigrations lost_and_found

python manage.py migrate registration zero
python manage.py migrate registration


python manage.py makemigrations --merge
python manage.py migrate








## Delete all migration files (except __init__.py) inside admission/migrations/

find admission/migrations -name "*.py" -not -name "__init__.py" -delete

find admission/migrations -name "*.pyc" -delete

# Drop the database or the specific table if needed (SQLite case):

rm db.sqlite3

# Recreate migration and migrate again

python3 manage.py makemigrations
python3 manage.py migrate



git checkout develop_khalid    
git add .
git commit -m ""
git push origin develop_khalid

## Check your current branch:
git branch

## Switch to develop_khalid:
git checkout develop_khalid

## Add your changes:
git add .

## or specify particular files:
git add filename.py


## Commit your changes:
git commit -m "Your descriptive commit message"

## Push to the remote branch:
git push origin develop_khalid

git checkout main
git pull origin main
git merge develop_khalid
git push origin main


# Completely erase the last commit (use with caution)

git reset --hard e4e877e8a842af588af1b40c4fd1a743f3
git push --force origin main


Save and exit nano:

    Press Ctrl + O → then press Enter to save.

    Press Ctrl + X to exit.





✅ Room
✅ Hall
✅ Provost Body
✅ User Information
✅ Admission
✅ Office/Worker/Guard
✅ Student
✅ Complain
✅ Complain Tag
✅ System Goal
✅ Guest Registration
✅ Sports element
✅ Meeting
✅ Notice Board
✅ Lost and Found
✅ Forum
✅ Event
✅ Official/Transaction
✅ 
❌ Feed Back 
❌ Food/Item
❌ Dinning/Canteen /Shop




### install after pull

pip install --upgrade pip
pip install django-cors-headers djangorestframework Pillow


python manage.py makemigrations
python manage.py migrate
