@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;

  /* Blue Colors (approximate) */
  --color-primary-100: oklch(0.99 0 0); /* Very light/white */
  --color-primary-200: oklch(0.98 0.04 270); /* Very pale primary */
  --color-primary-300: oklch(0.94 0.11 270); /* Light primary */
  --color-primary-400: oklch(0.92 0.19 270); /* Softer medium primary */
  --color-primary-500: oklch(0.84 0.18 270); /* Mid-range primary */
  --color-primary-600: oklch(0.53 0.12 270); /* Deep blue */

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
